body {
  background-color: rgb(172, 168, 168);
}

.start {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  /*grid-template-rows: ;*/
  align-items: center;
  margin: auto;
  width: 30%;
  border: 3px solid green;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
}

.btns {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}

.btns :nth-child(2) {
    margin-left: auto;
}
.btn_wstecz {
  text-decoration: none;

  align-items: center;

  width: 3cm;
  height: 1cm;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: rgb(216, 16, 16);
  color: white;
  cursor: pointer;
}

.btn_przod {
  align-items: center;

  width: 3cm;
  height: 1cm;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: rgb(26, 163, 26);
  color: white;
  cursor: pointer;
}
