html {
    margin: 200;
  }
  body {
    min-height: 100vh;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    font-size: 30px;
    font-weight: bold;
  }

nav {
    flex-grow:1;
  }
  .navbar {
    display: flex;
  
    padding: 0.5rem;
  
    background-color: rgb(27, 240, 169);
    margin: 0.5cm 8vh;
    border-radius: 20px;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    width: 100%;
  
    display: flex;
    flex-direction: row;
  }
  .navbar li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    background-color: rgb(96, 252, 200);
    border: solid black 1px;
    border-radius: 10px;
    margin: 3px;
    list-style: none;
  }
  .navbar li a {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
    padding: 15px;
  
    color: black;
  }
  
  .navbar li:hover {
    background-color: rgb(3, 150, 101);
  
   
    border-radius: 10px;
    user-select: none;
  }
  
  .lg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .navbar li .searchbar{
    display: flex;
    justify-content: center;
    border: none;
  }
  
  .navbar li input{
    font-size: 10px;
    display: flex;
    justify-content: center;
  
  
  }
  
  .navbar li:nth-of-type(2) {
    margin-left: auto;
    
     
  }
.opis {
    margin: 0rem 5rem ;
    font-family: Arial, Helvetica, sans-serif;
}

.opis h1{
    margin-bottom: 1rem;
}
.calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(172, 168, 168);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 5rem;
}

.calendar div{
    
    padding: 1rem;
    margin: .5rem;
    background-color: white;
    border: solid green;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}
.calendar a{
  text-decoration: none;
  color: black;
}

.calendar div:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}